{% extends "layouts/main.html" %}

{% block pageTitle %}
  Summary - VOL EditorJS Demo
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Summary of your responses</h1>

      <p class="govuk-body">Here's a summary of all the information you provided about the issues you selected.</p>

      {% for issue in selectedIssues %}
        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-l">{{ issue | replace("-", " ") | title }} Issues</h2>

          <div class="govuk-inset-text">
            {% if editedContent[issue] %}
              {% set content = editedContent[issue] %}

              {% for block in content.blocks %}
                {% if block.type == 'header' %}
                  {% if block.data.level == 2 %}
                    <h3 class="govuk-heading-m">{{ block.data.text }}</h3>
                  {% elif block.data.level == 3 %}
                    <h4 class="govuk-heading-s">{{ block.data.text }}</h4>
                  {% elif block.data.level == 4 %}
                    <h5 class="govuk-heading-xs">{{ block.data.text }}</h5>
                  {% endif %}
                {% elif block.type == 'paragraph' %}
                  <p class="govuk-body">{{ block.data.text }}</p>
                {% elif block.type == 'list' %}
                  {% if block.data.style == 'ordered' %}
                    <ol class="govuk-list govuk-list--number">
                      {% for item in block.data.items %}
                        <li>{{ item }}</li>
                      {% endfor %}
                    </ol>
                  {% else %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for item in block.data.items %}
                        <li>{{ item }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% else %}
              <p class="govuk-body">No content provided.</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}

      <a href="/editorjs/select-issues" class="govuk-button" data-module="govuk-button">
        Start again
      </a>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View raw JSON data
          </span>
        </summary>
        <div class="govuk-details__text">
          <pre class="govuk-body" style="white-space: pre-wrap; word-break: break-all;">{{ editedContent | dump(2) }}</pre>
        </div>
      </details>
    </div>
  </div>
{% endblock %}
